<!DOCTYPE html>
<html>
<head>

  <style>
      body {
      background-color: #5C5E4E;
  }
  .main-content {
      background-color: #432121;
      width: 80%;
      margin: auto;
      padding: 2em;
  }
  </style>

  <title>Depot</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>' >

<%= yield %>

</body>
</html>
